<a href="https://colab.research.google.com/github/2205A21012/2205A21012_a/blob/main/2205A21012_A8_01_10_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Qualification=['venkat','B.tech',2006,'M.E',2011,'Ph.D',201]
Experience=['ssse',2007,'infosys','2011','AITAM','2013','SREC',2018]
CA=Qualification+Experience
print("Qualification=",Qualification)
print("Experience=",Experience)
print("CA=",CA)

Qualification= ['venkat', 'B.tech', 2006, 'M.E', 2011, 'Ph.D', 201]
Experience= ['ssse', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', 2018]
CA= ['venkat', 'B.tech', 2006, 'M.E', 2011, 'Ph.D', 201, 'ssse', 2007, 'infosys', '2011', 'AITAM', '2013', 'SREC', 2018]

In [ ]:
Qualification=['venkat','B.tech',2006,'M.E',2011,'Ph.D',2018]
print(Qualification)
print(Qualification[0])
print(Qualification[1:])
print(Qualification[1:5])
print(Qualification*2)
print(Qualification[::-1])

['venkat', 'B.tech', 2006, 'M.E', 2011, 'Ph.D', 2018]
venkat
['B.tech', 2006, 'M.E', 2011, 'Ph.D', 2018]
['B.tech', 2006, 'M.E', 2011]
['venkat', 'B.tech', 2006, 'M.E', 2011, 'Ph.D', 2018, 'venkat', 'B.tech', 2006, 'M.E', 2011, 'Ph.D', 2018]
[2018, 'Ph.D', 2011, 'M.E', 2006, 'B.tech', 'venkat']

In [ ]:
list=['venkat',1985]
print('venkat birth year',list[1])
list[0]='dev'
list[1]=2017
print('dev birth year',list[1])

venkat birth year 1985
dev birth year 2017

In [ ]:
list=['venkat',1985]
print(list)
del list[1]
print(list)

['venkat', 1985]
['venkat']

In [ ]:
name=['ramana','thanmai','dev']
dob=[1985,2014,2017]
print('number of peoples',len(name))
print('================')
details=name+dob
print('biodata',details)
print('================')
repetition=name*2
print('repetition',repetition)
print('================')
for x in name:
  print(x)
print('================')

number of peoples 3
================
biodata ['ramana', 'thanmai', 'dev', 1985, 2014, 2017]
================
repetition ['ramana', 'thanmai', 'dev', 'ramana', 'thanmai', 'dev']
================
ramana
thanmai
dev
================

In [ ]:
name=['ramana','thanmai','dev']
dob=[1985,2014,2017]
print('name with maximum characters',max(name))
print('younger person dob',max(dob))
print('name with minimum characters',min(name))
print('older person dob',min(dob))

name with maximum characters thanmai
younger person dob 2017
name with minimum characters dev
older person dob 1985

In [ ]:
students=['ram','venkat']
print(students)
students.append('dev')
print(students)

['ram', 'venkat']
['ram', 'venkat', 'dev']

In [ ]:
grade=['A','A','B','C','A']
print('how many peoples got A grade',grade.count('A'))

how many peoples got A grade 3

In [ ]:
family=['venkat','swetha']
print('family members',family)
atuple=('dev','thanmai')
family.extend(atuple)
print('family members',family)

family members ['venkat', 'swetha']
family members ['venkat', 'swetha', 'dev', 'thanmai']

In [ ]:
grade=['A','A','B','C','A','B']
print('lowest index for grade B',grade.index('B'))

lowest index for grade B 2

In [ ]:
family=['ramana','swetha','thanmai','dev']
print('family members',family)
family.remove('ramana')
print('family members',family)

family members ['ramana', 'swetha', 'thanmai', 'dev']
family members ['swetha', 'thanmai', 'dev']

In [ ]:
family=['ramana','swetha','thanmai','dev']
print('family members',family)
family.reverse()
print('family members',family)

family members ['ramana', 'swetha', 'thanmai', 'dev']
family members ['dev', 'thanmai', 'swetha', 'ramana']

In [ ]:
name=['ramana','thanmai','dev']
print('family members',name)
name.insert(1,'swetha')
print('family members',name)

family members ['ramana', 'thanmai', 'dev']
family members ['ramana', 'swetha', 'thanmai', 'dev']

In [ ]:
family=['ramana','swetha','thanmai','dev']
print('family members',family)
family.pop()
print('family members',family)
family.pop(2)
print('family members',family)

family members ['ramana', 'swetha', 'thanmai', 'dev']
family members ['ramana', 'swetha', 'thanmai']
family members ['ramana', 'swetha']

In [ ]:
tuple=('venkat','B.tech',2006)
print(tuple)
print(tuple[0])
print(tuple[0:2])
print(tuple[0:1])
print(tuple[::-1])
print(tuple[2:0:-1])

('venkat', 'B.tech', 2006)
venkat
('venkat', 'B.tech')
('venkat',)
(2006, 'B.tech', 'venkat')
(2006, 'B.tech')

In [1]:
tiny={'name':'venkat','marks':891}
print(tiny)
print(tiny['name'])
print(tiny['marks'])
tiny['name']='ramana'
print(tiny)

{'name': 'venkat', 'marks': 891}
venkat
891
{'name': 'ramana', 'marks': 891}

In [5]:
tuple=('venkat','B.tech',2006)
pgtuple=('M.E','2011')
print(tuple*2)
print(tuple+pgtuple)
list['venkat','Ph.D','2018']
print(list)

('venkat', 'B.tech', 2006, 'venkat', 'B.tech', 2006)
('venkat', 'B.tech', 2006, 'M.E', '2011')
<class 'list'>

In [6]:
dict={}
print(dict)
dict['one']='this is one'
print(dict)
dict['2']='this is two'
print(dict)
print(dict.keys())
print(dict.values())

{}
{'one': 'this is one'}
{'one': 'this is one', '2': 'this is two'}
dict_keys(['one', '2'])
dict_values(['this is one', 'this is two'])

In [7]:
thisset={'apple','banana','cherry'}
mylist=['kiwi','orange']
mylist_2=(2,3)
mylist_3={'name':'venkat','School':'SRU'}
thisset.update(mylist)
thisset.update(mylist_2)
thisset.update(mylist_3)
print(thisset)

{'name', 2, 3, 'orange', 'School', 'kiwi', 'cherry', 'banana', 'apple'}

In [8]:
thisset={'apple','banana','cherry'}
tropical={'pineapple','mango','papaya'}
thisset.update(tropical)
print(thisset)

{'mango', 'cherry', 'banana', 'papaya', 'pineapple', 'apple'}

In [10]:
thisset={'apple','banana','cherry'}

for x in thisset:
  print(x)

cherry
banana
apple